:root {
    --border-round: 10%;
}

/*
@font-face {
    font-family: 'MyCustomFont'; Choose a name for your font
    src: url('https://your-domain.com/fonts/MyCustomFont.woff2') format('woff2'),
        url('https://your-domain.com/fonts/MyCustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;
    margin: 0;
    
}

body::-webkit-scrollbar {
    scrollbar-width: none;
}

h1 {
    font-size: large;
}

button {
    font-size: x-large;
    font-family: inherit;
    background-color: white;
    border: 0 ;
    border-radius: var(--border-round);
}

button:hover {
    transform: translate(-3px, 3px);
    transition: 0.1s ease;
}

a {
    text-decoration: none;
    color: #000;
}


.nav_pages {
    border-radius: var(--border-round);
    padding: 20px;
}


nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    text-align: center;
}

.pfp {
    border-radius: 100%;
}

section {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;

    display: flex;

}

.about-sections {
    flex-direction: column; /* Switch to horizontal align*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-sections {
    /*
    justify-content: center; /* horizontal
    align-items: center; /* verticle */
    border-width: 2px;
}

#pfp {
    position: absolute; /* relative to the nearest relative parent */
    top: 20px; /* distance from top of selection */
    right: 20px; /* distance from right of section */
    width: 200px;
    height: auto;
    border-radius: 100%;
}

#authorization {
    width: 200px;
    height: 500px;
    overflow-y: auto;
    position: absolute;
    /*overflow-x: hidden;*/

    transform:rotate(-90deg) translateY(-100px);
    transform-origin: right top;

    background-color: green;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-items: center;
}

#login-page, #register-page {
    width: fit-content;
    height: auto;

    transform:rotate(90deg);
    transform-origin: right top;

    background-color: aqua;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 100;

    text-align: center;
    text-decoration: none;
} 

#scroll3D {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#scroll3D canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}