<!-- this gotta be in the same folder with base.html-->
{% extends "base.html" %} 
{% block title %}About | Art Mastery{% endblock %}

{% block content %}
<section class="about-sections" style="background:#f8b400">
    <h1>ABOUT</h1>
    <img id="pfp" src="static/img/pfp.jpg" alt="Profile Pic">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam. Perspiciatis deserunt, reprehenderit hic earum doloremque voluptatum recusandae delectus fugiat, eos voluptas, nemo tenetur iste dignissimos assumenda eius quaerat dolorem.</p>
</section>
<section class="about-sections" style="background:#7ed321">
    <h1>something</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia incidunt voluptates nostrum ipsum, illo doloribus sequi optio rem. Veritatis et illum, fugiat ullam quo hic tempore reiciendis sequi maiores voluptatem.</p>
</section>
{% endblock %}

{% block footer %}
{% endblock %}