<!-- this gotta be in the same folder with base.html-->
{% extends "base.html" %} 
{% block title %}Advanced | Art Mastery{% endblock %}

{% block content %}
<section class="advanced-sections">
    <h1>THIS IS THE ADVANCED PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maxime, error illo facere atque, neque ducimus, perspiciatis fuga doloribus vel sint! Illo debitis soluta amet, animi sapiente dolorem itaque ex.</p>
</section>
<section class="advanced-sections">
    <h1>SOMETHING</h1>
</section>
{% endblock %}

{% block footer %}
{% endblock %}