<!-- this gotta be in the same folder with base.html-->
{% extends "base.html" %} 
{% block title %}Beginner | Art Mastery{% endblock %}

{% block content %}
<section class="beginner-sections">
    <h1>THIS IS THE BEGINNER PAGE</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur culpa consectetur asperiores harum nisi, distinctio ea non nulla dolor doloremque ullam numquam autem pariatur, laboriosam, perferendis quidem impedit explicabo quis.</p>
</section>
<section class="beginner-sections">
    <h1>SOMETHING</h1>
</section>
{% endblock %}

{% block footer %}
{% endblock %}